<div>
    {{#if h}}
        <h{{h}} style="text-transform: capitalize;">{{title}}</h{{h}}>
    {{else}}
        <em style="text-transform: capitalize; {{#if bold}} font-size:20px; font-weight:bold; {{/if}}">
        {{title}}:
        </em>
    {{/if}}
    {{#unless p}}
        {{info}} 
    {{else}}
        <p>- {{info}}</p>
    {{/unless}}
    {{#if badge}}
        {{> list_of_badge arr=badge}}
    {{/if}}
</div>