<div class="mb-2">
    {{#if label}}<label for="{{for}}" class="form-label m-0">{{label}}</label>{{/if}}
    <input type="email" class="form-control
    {{#if lg}}form-control-lg{{/if}} {{#if sm}}form-control-sm{{/if}}"
     id="{{id}}" placeholder="{{placeholder}}">
    <div id="{{id-div}}" class="form-text m-0 {{#if error}}text-bg-danger{{/if}}">{{caption}}{{description}}{{error}}</div>
</div>